.popup {
  position: fixed;
  top: 195px;
  visibility: hidden;
  opacity: 0;
  transition: 500ms ease;
  display: flex;
  flex-direction: column;
}

.popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 100vh;
}

.popup--show {
  pointer-events: auto;
}

.popup__add-button {
  color: white;
  transform: rotate(45deg);
  margin-left: 100%;
  width: 40px;
  height: 40px;
  z-index: 1;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  width: 430px;
  background-color: white;
  border-radius: 2%;
  z-index: 1;
}

.popup__title {
  width: 330px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  color: black;
  padding: 34px 64px 54px 36px;
  margin: 0px;
}

.popup__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0px 35px 48px 34px;
  margin: 0px;
}

.popup__form-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border: none;
  border-bottom: solid 1px #c4c4c4;
  padding-bottom: 13px;
  width: 358px;
  height: 27px;
}

.popup__form-item::placeholder {
  color: #c4c4c4;
}

.popup__button {
  border: none;
  width: 358px;
  height: 50px;
  margin: 0px;
  padding: 0px 36px 36px;
}

.popup__button-item {
  width: 358px;
  height: 50px;
  border: solid 1px #c4c4c4;
  padding: 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0px;
  color: #c4c4c4;
  background-color: white;
}

.popup__button-item:hover {
  background-image: url(../images/popup-button_hover.jpg);
}

@media screen and (max-width: 544px) {
  .popup {
    top: 123px;
  }

  .popup__add-button {
    color: white;
    transform: rotate(45deg);
    margin-left: auto;
    width: 40px;
    height: 40px;
  }

  .popup__container {
    width: 282px;
  }

  .popup__title {
    width: 330px;
    font-size: 18px;
    line-height: 22px;
    padding: 25px 22px 76px 22px;
    margin: 0px;
  }

  .popup__fieldset {
    padding: 0px 22px 46px 22px;
  }

  .popup__form-item {
    color: black;
    padding-bottom: 13px;
    width: 238px;
    height: 17px;
  }

  .popup__button {
    width: 238px;
    height: 46px;
    padding: 0px 22px 25px;
  }

  .popup__button-item {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    background-color: black;
  }
}
